default:
    formatters:
        progress: true
    suites:
        default:
            paths:
                features: tests/Acceptance
            contexts:
                - App\Tests\Acceptance\Shared\ApiContext
                - App\Tests\Acceptance\Shared\SystemContext

    extensions:
        FriendsOfBehat\SymfonyExtension: 
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Shared\Infrastructure\Symfony\Kernel
                environment: test
